<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <link href="dist/build/css/build.css?v002" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

    <div id="app_header"></div>

    <div id="app_main"></div>

    <div id="app_footer"></div>


    <script id="header_template" type="text/template">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <!--button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>-->
                    <a class="navbar-brand" href="#">Albert Ramos</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="index.html">Home</a>
                            </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="post.html">Sample Post</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>-->
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Header -->
        <!-- Set your background image for this header on the line below. -->
        <header class="intro-header" <% if(typeof image_header != "undefined") {%> style="background-image: url(' <%=image_header %>')" <% } %>>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>
                                <% if(typeof title == "undefined"){ %>
                                    <%= "Home" %>
                                <% } else { %>
                                    <%= title %>
                                <% } %>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </script>

    <script id="posts_list_template" type="text/template">
        <div class="row posts_container">
            <div class="posts col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            </div>
        </div>
    </script>

    <script id="single_post_layout_template" type="text/template">
        <div id="post_info"></div>
        <div id="content"></div>
    </script>

    <script id="post_template" type="text/template">
        <h2 class="post-title">
            <a href="#post/<%= id %>">
            <%= title %>
            </a>
        </h2>
        <p class="post-subtitle">
            <%= summary %>
        </p>

        <p class="post-meta"><a href="#">Albert</a>, <%= date %></p>

    </script>


    <script id="single_post_info_template" type="text/template">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="col-lg-offset-6 col-md-offset-6 col-lg-6 col-md-6 text-right post_date_container">
                        <span class="text-right date"><%= date %></span>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="single_post_content_template" type="text/template">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <%= content %>
                </div>
            </div>
        </div>
    </script>

    <!--<script src="dist/build/js/build.js"></script>-->
    <script data-main="src/main" src="dist/js/require.js"></script>
</body>
</html>